.ldt___dashboard-clock {
  .ldt___dashboard-clock_hours, .ldt___dashboard-clock_minutes {
    &:after {
      content: ':';
    }
  }

  .ldt___dashboard-clock_hours, .ldt___dashboard-clock_minutes, .ldt___dashboard-clock_seconds {
    display: inline-block;
  }
}